/* import font from /fonts/fun.TTF */

@font-face {
    font-family: 'fun';
    src: url('/fonts/fun.TTF') format('truetype');
}

/* root */
:root {
    --color-red: #D82148;
    --color-blue: #764AF1;
}

body {
    background-color: #540375;
    color: #ffffff;
    font-family: 'fun', sans-serif;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 3em;
    text-align: center;
    margin: 20px 0 0 0;
    text-shadow: 3px 5px 0 rgba(0, 0, 0, 0.5);
    color: #10A19D;
}

.buttons {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.leaderboard-button {
    text-align: center;
    margin: 0 0 20px 0;
    padding: 0;
    text-decoration: underline;
}

.star {
    text-decoration: none !important;
    padding-left: 5px;
    padding-right: 5px;
}

.wrapper {
    margin: 0 auto;
    max-width: 480px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.wrapper .cell {
    background-color: #FFBF00;
    padding: 10px;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    box-shadow: 3px 5px 0 rgba(0, 0, 0, 0.5);
}

.wrapper .cell span.X {
    color: var(--color-red);
    text-shadow: 3px 5px 0 rgba(0, 0, 0, 1);
}

.wrapper .cell span.O {
    color: var(--color-blue);
    text-shadow: 3px 5px 0 rgba(0, 0, 0, 1);
}

.wrapper .cell.winning-cell {
    background-color: #222;
    box-shadow: 3px 5px 0 rgba(0, 0, 0, 0.5);
}

.color-red {
    color: var(--color-red);
}
.color-blue {
    color: var(--color-blue);
}

.wrapper .cell:nth-child(1) {border-top-left-radius: 4px;}
.wrapper .cell:nth-child(3) {border-top-right-radius: 4px;}
.wrapper .cell:nth-child(7) {border-bottom-left-radius: 4px;}
.wrapper .cell:nth-child(9) {border-bottom-right-radius: 4px;}

.input {
    margin-bottom: 20px;
}
.input label {
    display: block;
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
    text-shadow: 0px 3px 0 rgba(0, 0, 0, 0.5);
}
.input input {
    width: 95%;
    height: 40px;
    border: none;
    padding: 0 10px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5);
    color: #fff;
    overflow: hidden;
    outline: none;
}
/* style for checkbox */
.input input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 3px;
    box-shadow: none;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.modal.active {
    display: block;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #2C272E;
    border-radius: 3px;
    padding: 20px;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5);
}
.modal-title {
    color: #fff;
    font-size: 30px;
    text-align: center;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5);
}
.modal-message {
    color: #ddd;
    font-size: 12px;
    text-align: center;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
    /* margin-top: 20px; */
    margin:0;
    padding: 0;
}

.modal-inner {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    box-shadow: 0px 5px 0 rgba(0, 0, 0, 0.5);
}

.winner-message {
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-shadow: 3px 5px 0 rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
}

.play-with-computer {
    color: #fff;
    display: flex;
}
.play-with-computer input {
    margin-right: 10px;
    margin-bottom: 0 !important;
    width: 20px;
    height: 20px;
}
.play-with-computer label {
    font-size: 14px !important;
    text-shadow: 0px 3px 0 rgba(0, 0, 0, 0.5);
    margin-top: 2px;
}
.modal-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn {
    padding: 10px 20px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.5);
}
.btn-cancel {
    background-color: var(--color-red);
    color: #fff;
    margin-right: 10px;
}
.btn-save {
    font-family: 'fun', sans-serif;
    background-color: var(--color-blue);
    color: #fff;
}